{% extends './_layout.njk' %}
{% block content %}
<div class="row">
  <div id='nav' class="col-sm-12">
  </div>
  <div id='selectnav' class="col-xs-12">
  </div>
</div>
<div class="row">
  <label for="my-autocomplete" class="visuallyhidden">Select your area</label>
  <div id="my-autocomplete-container"></div>
</div>
<div class="row">
  <div id='map' class="col-sm-12">
    <div id='keydiv'></div>

    <div id='selectNav'></div>
    <div id='accessibilityInfo'>
      <p aria-live="polite" class='visuallyhidden'></p>
    </div>
  </div>
</div>
<div class="row" id="source">Source: Office for National Statistics.</div>
{% endblock %}



