{% extends './_layout.njk' %}
{% block content %}

  <!-- <h1>Long Term International Net Migration by Citizenship, 1975 to 2014</h1>-->

  <div id="graphic"><img src="fallback.png" alt="[Chart]" /></div>
  <div id="keypoints">
  </div>
  <h6 id="source"></h6>

{% endblock %}
